demo.domain/obj/demo.domain.csproj.nuget.cache
demo.domain/obj/demo.domain.csproj.nuget.dgspec.json
demo.domain/obj/demo.domain.csproj.nuget.g.props
demo.domain/obj/demo.domain.csproj.nuget.g.targets
demo.domain/obj/project.assets.json
demo.domain/obj/Debug/netstandard2.0/demo.domain.AssemblyInfo.cs
demo.domain/obj/Debug/netstandard2.0/demo.domain.AssemblyInfoInputs.cache
demo.domain/obj/Debug/netstandard2.0/demo.domain.assets.cache
demo.domain/obj/Debug/netstandard2.0/demo.domain.csproj.FileListAbsolute.txt
demo.domain/obj/Debug/netstandard2.0/demo.domain.csprojAssemblyReference.cache
demo.domain/obj/Debug/netstandard2.0/demo.domain.dll
demo.domain/obj/Debug/netstandard2.0/demo.domain.pdb
demo.domain/bin/Debug/netstandard2.0/demo.domain.deps.json
demo.domain/bin/Debug/netstandard2.0/demo.domain.dll
demo.domain/bin/Debug/netstandard2.0/demo.domain.pdb
